@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
:root {
  --font-color: black;
  --bg-color: white;
  --nav-color: white;
  --shadow-color: -5px 22px 11px 6px #f0e2e2;
  --border-color: 2px solid #ece7e7;
  --surah-color: #551A8B;
  --ayah-number-color: #551A8B;
  --juz-box-color: white;
  --arabic-text-color: red;
}

[data-theme="dark"] {
  --font-color: white;
  --bg-color:hsl(205, 25%, 17%);
  --nav-color: hsl(210, 22%, 22%);
  --shadow-color: -5px 22px 11px 6px #272323;
  --border-color: 2px solid transparent;
  --surah-color: white;
  --ayah-number-color: #efd1d1;
  --juz-box-color: white;
  --arabic-text-color: white;
}
body{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: var(--bg-color);
    color: var(--font-color);
}
.landing_image{
  height: 400px;
  width: 100%;
  background-image: url(./images/pngtube.com-islam-png-621961.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.proceed{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.proceed a{
  width: 100%;
}
.click{
  height: 60px;
    width: 100%;
    border: none;
    color: white;
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    justify-content: center;
    background: #1b53be;
}
a{
  text-decoration: none;
}
#mode{
  margin-left: auto;
  margin-right: 5%;
  display: flex;
  padding-top: 8px;
  position: absolute;
  right: 0;
  z-index: 12;
}
#mode_icon{
	height: 20px;
  width: 30px;
  background-position: fixed;
  background-image: url(./images/moon-svgrepo-com.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 15px;
}
#holderDiv{
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
  grid-template-rows: 150px 150px 150px 150px 150px ;
  padding-left: 50px;
  font-size: 22px;
  padding-top: 90px;
}
.Holder{
    width: 70px;
    border: 3px solid var(--juz-box-color);
    border-radius: 6px;
    text-align: center;
    box-shadow: var(--shadow-color);
    background: var(--juz-box-color);
}
#loader{
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
	height: 50px;
	transition: 1s ease;
	animation: spin 1s linear infinite;
}
#load{
  padding-top: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
}
@keyframes spin{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes moveri{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 50% 0%;
    }
}
.Landing{
  padding-top: 100px;
}
#HomePageSurahs{
  padding-top: 70px;
}
#error_div{
  border-radius: 10px;
  box-shadow: var(--shadow-color);
  padding: 30px;
  width: 50px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(./images/error-svgrepo-com.svg);
}